<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='images/site.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Basic Settings</title>
    <style>
    </style>
    <script src="../static/time.js" defer></script>
    <script src="../static/mongoStatus.js"></script>
    <script src="../static/suggesthost.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const deviceDropdown = document.getElementById("device_dropdown");
            const manyHostnameInput = document.getElementById("many_hostname");
            const hostnameLabel = document.querySelector('label[for="many_name"]');

            manyHostnameInput.addEventListener("input", function () {
                if (manyHostnameInput.value.trim() !== "") {
                    deviceDropdown.style.display = "none";
                } else {
                    deviceDropdown.style.display = "block";
                }
            });

            deviceDropdown.addEventListener("change", function () {
                if (deviceDropdown.value === "") {
                    manyHostnameInput.style.display = "block";
                    hostnameLabel.style.display = "block";
                } else {
                    manyHostnameInput.style.display = "none";
                    hostnameLabel.style.display = "none";
                }
            });
        });
    </script>
    <script>
        window.onload = function () {
            toggleIpInput();
        };

        document.addEventListener('DOMContentLoaded', function () {
            function handleToggle(buttonId, enableId, disableId) {
                const button = document.getElementById(buttonId);
                const enableInput = document.createElement('input');
                enableInput.type = 'hidden';
                enableInput.name = enableId;

                const disableInput = document.createElement('input');
                disableInput.type = 'hidden';
                disableInput.name = disableId;

                button.form.appendChild(enableInput);
                button.form.appendChild(disableInput);

                let currentState = 'none';

                button.addEventListener('click', function () {
                    switch (currentState) {
                        case 'on':
                            currentState = 'none';
                            enableInput.value = '';
                            disableInput.value = '';
                            break;
                        case 'none':
                            currentState = 'off';
                            enableInput.value = '';
                            disableInput.value = 'on';
                            break;
                        case 'off':
                            currentState = 'on';
                            enableInput.value = 'on';
                            disableInput.value = '';
                            break;
                    }

                    button.className = `toggle-button ${currentState}`;
                });
            }

            handleToggle('enctypToggle', 'enable_password_encryp', 'disable_password_encryp');
        });
    </script>
    <script>
        function validateDeviceSelection() {
            const deviceDropdown = document.getElementById("device_dropdown");
            const manyHostnameInput = document.getElementById("many_hostname");

            if (deviceDropdown.value === "" && manyHostnameInput.value.trim() === "") {
                alert("Please select a device or enter the devices name");
                return false; // หยุดการส่งฟอร์ม
            }
            return true;
        }
        function showLoader() {
            document.getElementById('loader').style.display = 'block';
        }

        function validateCredentials() {
            const username = document.querySelector('input[name="username"]').value;
            const password = document.querySelector('input[name="password"]').value;

            if ((username && !password) || (!username && password)) {
                alert('Both Username and Password are required if you want to configure this section.');
                return false;
            }
            return true;
        }

        function handleSubmit() {
            if (!validateDeviceSelection()) {
                event.preventDefault();  // ถ้ายังไม่ได้เลือกหรือกรอกอุปกรณ์ จะหยุดการส่งฟอร์ม
                return;
            }

            if (!validateCredentials()) {
                event.preventDefault();  // หยุดการส่งฟอร์มถ้าข้อมูลไม่ครบ
                return;
            }
            showLoader(); // Show loader when form is submitted
            return true; // Proceed with form submission
        }
        {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
        {% for category, message in messages %}
        alert("{{ message | safe }}"); // Show flash message
        {% endfor %}
        {% endif %}
        {% endwith %}
    </script>
    <style>
        .form-container {
            display: flex;
            justify-content: space-between;
        }

        .form-group {
            width: 48%;
        }

        .form-group label {
            display: block;
            text-align: left;
            color: #2e4ead;
        }

        .form-group input,
        .form-group select {
            width: 100%;
            padding: 8px;
            margin: 5px 0;
        }
    </style>
</head>

<body>
    <div id="loader"></div> <!-- Loader element -->

    <div class="wrapper">
        <div class="top_navbar">
            <div class="hamburger">
                <span id="mongo-status-indicator" class="status-indicator status-disconnected"
                    title="Checking connection..."></span>
            </div>
            <div class="top_menu">
                <div class="logo">
                    <span id="datetime" style="font-size: 18px; font-weight: bold;"></span>
                </div>
                <ul>
                    <li>
                        <a href="basic_settings_page" title="Refresh"
                            style="display: inline-flex; align-items: center;">
                            <i class="fas fa-sync" style="font-size: 24px; margin-right: 8px;"></i>
                            <h4 style="display: none;">Refresh</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar">
            <ul><br>
                <li><a href="initialization_page">
                        <span class="icon"><i class="fas fa-play-circle"></i></span>
                        <span class="title">Device Initialization</span>
                    </a></li>
                <li><a href="record_mnmg_page">
                        <span class="icon"><i class="fas fa-folder"></i></span>
                        <span class="title">Device Record <br>Management</span>
                    </a></li>
                <li><a href="devices_informaion_page">
                        <span class="icon"><i class="fas fa-info-circle"></i></span>
                        <span class="title">Devices Information</span>
                    </a></li>
                <li class="dropdown">
                    <a href="#">
                        <span class="icon"><i class="fas fa-tools"></i></span>
                        <span class="title">Configurations</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="basic_settings_page" class="active">Basic Settings</a></li>
                        <li><a href="network_interface_page">Network Interface Configuration</a></li>
                        <li><a href="vlan_settings_page">VLAN Management</a></li>
                        <li><a href="management_settings_page">Management Settings</a></li>
                        <li><a href="stp_page">Spanning Tree Protocol</a></li>
                        <li><a href="etherchannel">Aggregation Protocols</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">
                        <span class="icon"><i class="fas fa-route"></i></span>
                        <span class="title">Routing Configuration</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="static_page">Static Route</a></li>
                        <li><a href="ospf_page">OSPF</a></li>
                        <li><a href="rip_page">RIPv2</a></li>
                        <li><a href="eigrp_page">EIGRP</a></li>
                    </ul>
                </li>
                <li><a href="erase_config_page">
                        <span class="icon"><i class="fas fa-trash-alt"></i></span>
                        <span class="title">Erase Configuration</span>
                    </a></li>
                <li><a href="show_config_page">
                        <span class="icon"><i class="fas fa-eye"></i></span>
                        <span class="title">View Device <br>Configurations</span>
                    </a></li>
                <li><a href="config_checker">
                        <span class="icon"><i class="fas fa-shield-alt"></i></span>
                        <span class="title">Security Check</span>
                    </a></li>
                <li><a href="devices_details_page">
                        <span class="icon"><i class="fas fa-info"></i></span>
                        <span class="title">Device Details (SNMP)</span>
                    </a></li>
            </ul>
        </div>
        <div class="main_container">
            <div class="container">
                <!-- crum -->
                <div class="breadcrumb-container">
                    <nav class="breadcrumb">
                        <a href="/" class="breadcrumb-item">
                            <i class="fas fa-home"></i>
                            <span>Home</span>
                        </a>
                        <i class="fas fa-chevron-right separator"></i>
                        <span class="breadcrumb-item active">Basic Settings</span>
                    </nav>
                </div>
                <form method="POST" action="/basic_settings" onsubmit="return handleSubmit()">

                    <h1 style="text-align: left; color: #2e4ead; text-transform: uppercase;">BASIC SETTINGS</h1>
                    <br>
                    <!-- Device Selection Section -->
                    <div class="section-card">
                        <div class="section-title" style="text-align: left;">Select Device</div>
                        <div class="input-container" style="display: flex; align-items: center;">
                            <select id="device_dropdown" name="device_name" style="margin-right: 10px;">
                                <option value="">Please Select</option>
                                {% if cisco_devices %}
                                {% for device in cisco_devices %}
                                <option value="{{ device.device_info.ip }}">
                                    {{ device.name }} ({{ device.device_info.ip }})
                                </option>
                                {% endfor %}
                                {% else %}
                                <option disabled>No devices available</option>
                                {% endif %}
                            </select>
                        </div><br>
                        <label for="many_name" style="text-align: left;">
                            Enter device names separated by commas
                        </label>
                        <input type="text" style="height: 60px;" name="many_hostname" id="many_hostname"
                            placeholder="Example: sw1,sw2,sw3" autocomplete="off" oninput="suggestHostnames()">
                        <div id="suggestions" class="suggestions-container"></div>
                    </div>


                    <!-- Device Basic Configuration Section -->
                    <div class="section-card">
                        <div class="section-title" style="text-align: left;">Device Basic Configuration</div>
                        <input type="text" id="hostname" name="hostname" placeholder="Hostname" minlength="3"
                            maxlength="40">
                        <input type="password" id="secret_password" name="secret_password" placeholder="Secret password"
                            minlength="3" maxlength="20">
                        <input type="text" style="height: 120px;" name="banner" id="banner" placeholder="Banner">
                    </div>

                    <!-- Password Encryption Settings Section -->
                    <div class="section-card">
                        <div class="section-title" style="text-align: left;">Service Password-encryption</div>
                        <div class="checkbox-wrapper-22">
                            <div class="protocol-toggle" style="margin-top: 10px;">
                                <button type="button" id="enctypToggle" class="toggle-button none">
                                    <div class="toggle-knob"></div>
                                </button>
                            </div>
                        </div>
                    </div>
                    

                    <!-- User Management Section -->
                    <div class="section-card">
                        <div class="section-title" style="text-align: left;"    >Username and Password Management</div>
                        <div class="form-container route_pair">
                            <div class="form-group">
                                <input type="text" name="username" placeholder="Username" title="Enter device username">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" placeholder="Password"
                                    title="Enter device password">
                            </div>
                        </div>
                    </div>

                    <input style="margin-left: 90%;" type="submit" value="Submit" class="fix-button">
                </form>
                {% if alert_message %}
                <script>
                    alert("{{ alert_message }}");
                </script>
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>