<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Erase Configuration</title>
    <style>
        .input-container {
            display: flex;
            align-items: flex-start; 
        }
        .input-container input[type="text"],
        .input-container input[type="password"] {
            flex: 1;
            margin-right: 10px; 
        }
        /* เพิ่ม CSS สำหรับปุ่ม Reload และ Erase */
        .action-buttons {
            display: flex; /* ใช้ Flexbox เพื่อให้ปุ่มอยู่ข้างกัน */
            justify-content: center;
        }
        .action-button {
            padding: 7px 20px;
            border: none;
            border-radius: 5px;
            background-color: white;
            font-size: 16px;
            cursor: pointer;
            font-weight: bold;
            margin-right: 10px; /* ระยะห่างระหว่างปุ่ม */
        }
        .erase-button {
            color: tomato;
        }
        .reload-button {
            color: #2e4ead;
        }
        .erase-button:hover {
            color: red;
        }
        .reload-button:hover {
            color: midnightblue;
        }
    </style>
    <script>
        function showLoader() {
            document.getElementById('loader').style.display = 'block';
        }

        function handleSubmit() {
            showLoader(); // แสดง loader เมื่อส่งแบบฟอร์ม
            return true; // ยังคงส่งแบบฟอร์มต่อไป
        }
    </script>
</head>
<body>
    <div id="loader" style="display: none;"></div>
    <div class="wrapper">
        <div class="top_navbar">
            <div class="hamburger"></div>
            <div class="top_menu">
                <div class="logo">
                    <img src="../static/cisco-logo-transparent-free-png.webp" style="width: 7%;" alt="">
                </div>
                <ul>
                    <li><a href="erase_config_page"><h4>Refresh</h4></a></li>
                    <form method="POST" action="/logout">
                        <button type="submit" style="color: #2e4ead;padding: 7px 20px;border: none;border-radius: 5px;background-color:white;font-size:16px;cursor: pointer;font-weight:bold;" onmouseover="this.style.color='midnightblue';" onmouseout="this.style.color='#2e4ead';">Logout</button>
                    </form>
                </ul>
            </div>
        </div>
        <div class="sidebar">
            <ul><br>
                <li><a href="initialization_page">
                        <span class="icon"><i class="fas fa-play-circle"></i></span>
                        <span class="title">Device Initialization</span>
                    </a></li>
                <li><a href="record_mnmg_page">
                        <span class="icon"><i class="fas fa-folder"></i></span>
                        <span class="title">Device Record <br>Management</span>
                    </a></li>
                <li><a href="devices_informaion_page">
                        <span class="icon"><i class="fas fa-info-circle"></i></span>
                        <span class="title">Devices Information</span>
                    </a></li>
                <li class="dropdown">
                    <a href="#">
                        <span class="icon"><i class="fas fa-tools"></i></span>
                        <span class="title">Configurations</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Basic Settings</a></li>
                        <li><a href="#">Network Interface Configuration</a></li>
                        <li><a href="#">Management Settings</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">
                        <span class="icon"><i class="fas fa-route"></i></span>
                        <span class="title">Routing Configuration</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Static Route</a></li>
                        <li><a href="#">OSPF</a></li>
                        <li><a href="#">RIPv2</a></li>
                        <li><a href="#">EIGRP</a></li>
                    </ul>
                </li>
                <li><a href="erase_config_page" class="active">
                        <span class="icon"><i class="fas fa-trash-alt"></i></span>
                        <span class="title">Erase Configuration</span>
                    </a></li>
                <li><a href="show_config_page">
                        <span class="icon"><i class="fas fa-eye"></i></span>
                        <span class="title">View Device <br>Configurations</span>
                    </a></li>
                <li><a href="#">
                        <span class="icon"><i class="fas fa-shield-alt"></i></span>
                        <span class="title">Security Check</span>
                    </a></li>
                <li><a href="devices_details_page">
                        <span class="icon"><i class="fas fa-info"></i></span>
                        <span class="title">Device Details (SNMP)</span>
                    </a></li>
            </ul>
        </div>
        <div class="main_container">
            <div class="container">
                <h1 style="text-align: left;color: #2e4ead;text-transform: uppercase;">Erase Startup-Configurations</h1>
                <br><br>
                <table>
                    <tr>
                        <th>Name devices</th>
                        <th>IP Address</th>
                        <th>Actions</th>
                    </tr>
                    {% if cisco_devices %}
                        {% for device in cisco_devices %}
                        <tr>
                            <td>{{ device.name }}</td>
                            <td>{{ device.device_info.ip }}</td>
                            <td style="align-items: center;">
                                <div class="action-buttons" style="align-items: center;"> <!-- เพิ่ม div สำหรับจัดกลุ่มปุ่ม -->
                                    <form method="POST" action="/erase" onsubmit="return confirm('Are you sure you want to erase the configuration for {{ device.name }}?') && handleSubmit();">
                                        <input type="hidden" name="device_index" value="{{ loop.index0 }}">
                                        <button type="submit" class="action-button erase-button">ERASE</button>
                                    </form>
                                    <form method="POST" action="/reload" onsubmit="return confirm('Are you sure you want to reload the configuration for {{ device.name }}?') && handleSubmit();">
                                        <input type="hidden" name="device_index" value="{{ loop.index0 }}">
                                        <button type="submit" class="action-button reload-button">RELOAD</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3" style="text-align: center;">No devices available.</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>
