<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='images/site.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Routing Configuration</title>
    <script src="../static/time.js" defer></script>
    <script src="../static/mongoStatus.js"></script>
    <style>
        .form-container {
            display: flex;
            justify-content: space-between;
        }

        .form-group {
            width: 48%;
        }

        .form-group label {
            display: block;
            text-align: left;
            color: #2e4ead;
        }

        .form-group input,
        .form-group select {
            width: 100%;
            padding: 8px;
            margin: 5px 0;
        }

        #route_networks_container {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .route_pair {
            display: flex;
            gap: 10px;
        }

        .route_pair .form-group {
            flex: 1;
        }
    </style>
    <script>
        function addRoutePair() {
            let container = document.getElementById('route_networks_container');

            let newPair = document.createElement('div');
            newPair.classList.add('form-container', 'route_pair');

            newPair.innerHTML = `
        <div class="form-group">
            <input type="text" name="destination_networks[]"
                placeholder="Network">
        </div>
    `;

            container.appendChild(newPair);
        }

        function addRemoveRoutePair() {
            let container = document.getElementById('remove_networks_container');

            let newPair = document.createElement('div');
            newPair.classList.add('form-container', 'route_pair');

            newPair.innerHTML = `
                <div class="form-group">
                    <input type="text" name="remove_destination_networks[]"
                        placeholder="Network to Remove">
                </div>
            `;

            container.appendChild(newPair);
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const deviceDropdown = document.getElementById("device_dropdown");
            const manyHostnameInput = document.getElementById("many_hostname");

            manyHostnameInput.addEventListener("input", function () {
                if (manyHostnameInput.value.trim() !== "") {
                    deviceDropdown.style.display = "none";
                } else {
                    deviceDropdown.style.display = "block";
                }
            });

            deviceDropdown.addEventListener("change", function () {
                if (deviceDropdown.value === "") {
                    manyHostnameInput.style.display = "block";
                } else {
                    manyHostnameInput.style.display = "none";
                }
            });
        });

        function showLoader() {
            document.getElementById('loader').style.display = 'block'; // แสดง loader
        }

        function hideLoader() {
            document.getElementById('loader').style.display = 'none'; // ซ่อน loader
        }

        function validateDeviceSelection() {
            const deviceDropdown = document.getElementById("device_dropdown");
            const manyHostnameInput = document.getElementById("many_hostname");

            if (deviceDropdown.value === "" && manyHostnameInput.value.trim() === "") {
                alert("Please select a device or enter the devices name");
                return false; // หยุดการส่งฟอร์ม
            }
            return true; // ถ้าผ่านการตรวจสอบแล้ว
        }

        function handleSubmit(event) {
            if (!validateDeviceSelection()) {
                event.preventDefault();
                return;
            }

            showLoader();
        }

        document.addEventListener("DOMContentLoaded", function () {
            const form = document.querySelector("form");  // หาฟอร์ม
            form.addEventListener("submit", handleSubmit);  // ใช้ handleSubmit เมื่อฟอร์มจะถูกส่ง
        });

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('auto_summary_enable').addEventListener('change', function () {
                if (this.checked) {
                    document.getElementById('auto_summary_disable').checked = false;
                }
            });

            document.getElementById('auto_summary_disable').addEventListener('change', function () {
                if (this.checked) {
                    document.getElementById('auto_summary_enable').checked = false;
                }
            });
        });

    </script>
</head>
<body>
    <div id="loader"></div> <!-- Loader element -->

    <div class="wrapper">
        <div class="top_navbar">
            <div class="hamburger">
                <span id="mongo-status-indicator" class="status-indicator status-disconnected"
                    title="Checking connection..."></span>
            </div>
            <div class="top_menu">
                <div class="logo">
                    <span id="datetime" style="font-size: 18px; font-weight: bold;"></span>
                </div>
                <ul>
                    <li>
                        <a href="rip_page" title="Refresh" style="display: inline-flex; align-items: center;">
                            <i class="fas fa-sync" style="font-size: 24px; margin-right: 8px;"></i>
                            <h4 style="display: none;">Refresh</h4>
                        </a>
                    </li>
                    <form method="POST" action="/logout" style="display: inline;">
                        <button type="submit" title="Logout"
                            style="color: #2e4ead; padding: 7px 20px; border: none; border-radius: 5px; background-color:white; font-size:16px; cursor: pointer; font-weight:bold;">
                            <i class="fas fa-sign-out-alt" style="font-size: 24px; margin-right: 8px;"></i>
                            <span style="display: none;">Logout</span>
                        </button>
                    </form>
                </ul>
            </div>
        </div>
        <div class="sidebar">
            <ul><br>
                <li><a href="initialization_page">
                        <span class="icon"><i class="fas fa-play-circle"></i></span>
                        <span class="title">Device Initialization</span>
                    </a></li>
                <li><a href="record_mnmg_page">
                        <span class="icon"><i class="fas fa-folder"></i></span>
                        <span class="title">Device Record <br>Management</span>
                    </a></li>
                <li><a href="devices_informaion_page">
                        <span class="icon"><i class="fas fa-info-circle"></i></span>
                        <span class="title">Devices Information</span>
                    </a></li>
                <li class="dropdown">
                    <a href="#">
                        <span class="icon"><i class="fas fa-tools"></i></span>
                        <span class="title">Configurations</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="basic_settings_page">Basic Settings</a></li>
                        <li><a href="network_interface_page">Network Interface Configuration</a></li>
                        <li><a href="vlan_settings_page">VLAN Management</a></li>
                        <li><a href="management_settings_page">Management Settings</a></li>
                        <li><a href="stp_page">Spanning Tree Protocol</a></li>
                        <li><a href="etherchannel">Aggregation Protocols</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">
                        <span class="icon"><i class="fas fa-route"></i></span>
                        <span class="title">Routing Configuration</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="static_page">Static Route</a></li>
                        <li><a href="ospf_page">OSPF</a></li>
                        <li><a href="rip_page" class="active">RIPv2</a></li>
                        <li><a href="eigrp_page">EIGRP</a></li>
                    </ul>
                </li>
                <li><a href="erase_config_page">
                        <span class="icon"><i class="fas fa-trash-alt"></i></span>
                        <span class="title">Erase Configuration</span>
                    </a></li>
                <li><a href="show_config_page">
                        <span class="icon"><i class="fas fa-eye"></i></span>
                        <span class="title">View Device <br>Configurations</span>
                    </a></li>
                <li><a href="#">
                        <span class="icon"><i class="fas fa-shield-alt"></i></span>
                        <span class="title">Security Check</span>
                    </a></li>
                <li><a href="devices_details_page">
                        <span class="icon"><i class="fas fa-info"></i></span>
                        <span class="title">Device Details (SNMP)</span>
                    </a></li>
            </ul>
        </div>
        <div class="main_container">
            <div class="container">
                <h1 style="text-align: left; color: #2e4ead; text-transform: uppercase;">RIPv2 Routing</h1>
                <br>
                <h3 style="color: #2e4ead;">Select Device:</h3><br>
                <form method="POST" action="/rip_settings" onsubmit="return handleSubmit()">
                    <div class="input-container" style="display: flex; align-items: center;">
                        <!-- Dropdown with ID for JavaScript to access -->
                        <select id="device_dropdown" name="device_name" style="margin-right: 10px;">
                            <option value="">None</option>
                            {% if cisco_devices %}
                            {% for device in cisco_devices %}
                            <option value="{{ device.device_info.ip }}">
                                {{ device.name }} ({{ device.device_info.ip }})
                            </option>
                            {% endfor %}
                            {% else %}
                            <option disabled>No devices available</option>
                            {% endif %}
                        </select>
                    </div><br><br>

                    <label for="many_name" style="text-align: left;">
                        If more than one device, input names of devices here (separate by comma)
                    </label>
                    <!-- Input field for many_hostname with ID -->
                    <input type="text" style="height: 60px;" name="many_hostname" id="many_hostname"
                        placeholder="Example: sw1,sw2,sw3">
                    <br>

                    <!-- network -->
                    <h3 style="text-align: left; color: #2e4ead; text-transform: uppercase;">RIP Networks
                    </h3>
                    <div id="route_networks_container">
                        <div class="form-container route_pair">
                            <div class="form-group">
                                <input type="text" name="destination_networks[]"
                                    placeholder="Network (e.g., 192.168.1.0)">
                            </div>
                        </div>
                    </div>
                    <button type="button"
                        style="background-color: #2e4ead; color: white; border: none; border-radius: 5px; padding: 2px 8px; font-size: 14px; cursor: pointer; display: block; margin-left: 0;"
                        onclick="addRoutePair()">Add more networks to route</button>
                    <br>

                    <!-- auto - sum (สำหรับ RIP) -->
                    <div class="checkbox-wrapper-22">
                        <label style="color: #2e4ead; font-weight: bold;">Auto-Summary</label>
                        <label>Enable</label>
                        <label class="switch" title="Enable Auto-Summary in RIP">
                            <input type="checkbox" id="auto_summary_enable" name="auto_summary" value="Enable">
                            <span class="slider"></span>
                        </label>
                        <br>
                        <label>Disable</label>
                        <label class="switch" title="Disable Auto-Summary in RIP">
                            <input type="checkbox" id="auto_summary_disable" name="auto_summary" value="Disable">
                            <span class="slider"></span>
                        </label>
                        <br>
                    </div>
                    <br>

                    <!-- Remove network Route -->
                    <h3 style="text-align: left; color: #2e4ead; text-transform: uppercase;">Remove RIP Networks
                    </h3>
                    <div id="remove_networks_container">
                        <div class="form-container route_pair">
                            <div class="form-group">
                                <input type="text" name="remove_destination_networks[]"
                                    placeholder="Network to Remove">
                            </div>
                        </div>
                    </div>
                    <button type="button"
                        style="background-color: #2e4ead; color: white; border: none; border-radius: 5px; padding: 2px 8px; font-size: 14px; cursor: pointer; display: block; margin-left: 0;"
                        onclick="addRemoveRoutePair()">Add more networks to remove</button><br>

                    <!-- Disalbe RIP -->
                    <div class="checkbox-wrapper-22">
                        <label style="color: #2e4ead; font-weight: bold;">Disable RIP</label>
                        <label class="switch" title="Disable RIP Routing Protocol">
                            <input type="checkbox" id="disable_rip" name="disable_rip" value="true">
                            <span class="slider"></span>
                        </label>
                    </div>
                    <br><br>
                    <input style="margin-left: 90%;" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</body>

</html>