<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='images/site.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Show Configurations</title>
    <script src="../static/time.js" defer></script>
    <script src="../static/mongoStatus.js"></script>
    <script>
        function showLoader() {
            document.getElementById('loader').style.display = 'block';
        }

        function handleSubmit() {
            const selectedCommands = document.querySelectorAll('input[name="selected_commands"]:checked');

            // ถ้าไม่มีการเลือกคำสั่งเลย
            if (selectedCommands.length === 0) {
                alert("Please select at least one command.");
                return false; // หยุดการส่งฟอร์ม
            }
            showLoader(); // แสดง loader เมื่อส่งแบบฟอร์ม
            return true; // ยังคงส่งแบบฟอร์มต่อไป
        }
    </script>
    <style>
        .columns {
            display: flex;
        }

        .left-column {
            width: 20%;
            padding: 10px;
        }

        .right-column {
            width: 100%;
            padding: 10px;
            background-color: #ffffff;
        }

        .right-column pre {
            white-space: pre-wrap;
            /* ข้อความจะถูกพับลงมาหากยาวเกิน */
            word-wrap: break-word;
            /* เมื่อมีคำยาวเกินก็จะทำการตัดคำเพื่อให้พอดีกับพื้นที่ */
            max-height: 500px;
            /* จำกัดความสูงของ output */
            overflow-y: auto;
            /* เพิ่มแถบเลื่อนเมื่อเนื้อหามากเกินไป */
        }


        .menu {
            width: 100%;
        }

        .menu-item {
            text-align: left;
        }

        .menu-item input[type="checkbox"] {
            margin-left: 0;
        }

        .menu-button {
            width: 100%;
            padding: 10px;
            background-color: transparent;
            color: black;
            border: none;
            text-align: left;
            cursor: pointer;
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .menu-button:hover {
            color: #2e4ead;
        }

        .arrow {
            transition: transform 0.3s ease;
        }

        .menu-button .fa-chevron-right {
            transform: rotate(0deg);
        }

        .menu-button .fa-chevron-down {
            transform: rotate(0deg);
        }

        .submenu {
            display: none;
            position: relative;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            margin-top: 5px;
            overflow: hidden;
        }

        .submenu label {
            display: block;
            margin: 5px 0;
        }

        .left-column .menu {
            width: 100%;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.menu-button').forEach(button => {
                const arrow = button.querySelector('.arrow');

                arrow.classList.remove('fa-chevron-down');
                arrow.classList.add('fa-chevron-right');

                button.addEventListener('click', () => {
                    const submenu = button.nextElementSibling;

                    document.querySelectorAll('.submenu').forEach(menu => {
                        if (menu !== submenu) {
                            menu.style.display = 'none';
                            const otherButton = menu.previousElementSibling;
                            if (otherButton) {
                                const otherArrow = otherButton.querySelector('.arrow');
                                otherArrow.classList.remove('fa-chevron-down');
                                otherArrow.classList.add('fa-chevron-right');
                            }
                        }
                    });

                    if (submenu.style.display === 'block') {
                        submenu.style.display = 'none';
                        arrow.classList.remove('fa-chevron-down');
                        arrow.classList.add('fa-chevron-right');
                    } else {
                        submenu.style.display = 'block';
                        arrow.classList.remove('fa-chevron-right');
                        arrow.classList.add('fa-chevron-down');
                    }
                });
            });
        });
    </script>
</head>

<body>
    <div id="loader" style="display: none;"></div>
    <div class="wrapper">
        <div class="top_navbar">
            <div class="hamburger">
                <span id="mongo-status-indicator" class="status-indicator status-disconnected"
                    title="Checking connection..."></span>
            </div>
            <div class="top_menu">
                <div class="logo">
                    <span id="datetime" style="font-size: 18px; font-weight: bold;"></span>
                </div>
                <ul>
                    <li>
                        <a href="show_config_page" title="Refresh" style="display: inline-flex; align-items: center;">
                            <i class="fas fa-sync" style="font-size: 24px; margin-right: 8px;"></i>
                            <h4 style="display: none;">Refresh</h4>
                        </a>
                    </li>
                    <!-- <form method="POST" action="/logout" style="display: inline;">
                        <button type="submit" title="Logout"
                            style="color: #2e4ead; padding: 7px 20px; border: none; border-radius: 5px; background-color:white; font-size:16px; cursor: pointer; font-weight:bold;">
                            <i class="fas fa-sign-out-alt" style="font-size: 24px; margin-right: 8px;"></i>
                            <span style="display: none;">Logout</span>
                        </button>
                    </form> -->
                </ul>
            </div>
        </div>
        <div class="sidebar">
            <ul><br>
                <li><a href="initialization_page">
                        <span class="icon"><i class="fas fa-play-circle"></i></span>
                        <span class="title">Device Initialization</span>
                    </a></li>
                <li><a href="record_mnmg_page">
                        <span class="icon"><i class="fas fa-folder"></i></span>
                        <span class="title">Device Record <br>Management</span>
                    </a></li>
                <li><a href="devices_informaion_page">
                        <span class="icon"><i class="fas fa-info-circle"></i></span>
                        <span class="title">Devices Information</span>
                    </a></li>
                <li class="dropdown">
                    <a href="#">
                        <span class="icon"><i class="fas fa-tools"></i></span>
                        <span class="title">Configurations</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="basic_settings_page">Basic Settings</a></li>
                        <li><a href="network_interface_page">Network Interface Configuration</a></li>
                        <li><a href="vlan_settings_page">VLAN Management</a></li>
                        <li><a href="management_settings_page">Management Settings</a></li>
                        <li><a href="stp_page">Spanning Tree Protocol</a></li>
                        <li><a href="etherchannel">Aggregation Protocols</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">
                        <span class="icon"><i class="fas fa-route"></i></span>
                        <span class="title">Routing Configuration</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="static_page">Static Route</a></li>
                        <li><a href="ospf_page">OSPF</a></li>
                        <li><a href="rip_page">RIPv2</a></li>
                        <li><a href="eigrp_page">EIGRP</a></li>
                    </ul>
                </li>
                <li><a href="erase_config_page">
                        <span class="icon"><i class="fas fa-trash-alt"></i></span>
                        <span class="title">Erase Configuration</span>
                    </a></li>
                <li><a href="show_config_page" class="active">
                        <span class="icon"><i class="fas fa-eye"></i></span>
                        <span class="title">View Device <br>Configurations</span>
                    </a></li>
                <li><a href="config_checker">
                        <span class="icon"><i class="fas fa-shield-alt"></i></span>
                        <span class="title">Security Check</span>
                    </a></li>
                <li><a href="devices_details_page">
                        <span class="icon"><i class="fas fa-info"></i></span>
                        <span class="title">Device Details (SNMP)</span>
                    </a></li>
            </ul>
        </div>
        <div class="main_container">
            <div class="container">
                <h1 style="text-align: left;color: #2e4ead;">SHOW CONFIGURATIONS</h1><br><br>
                <form method="POST" action="/show-config" onsubmit="return handleSubmit();">
                    <select name="device_name" required>
                        <option value="" disabled {% if cisco_devices|length==0 %}selected{% endif %}>Select a device
                        </option>
                        {% if cisco_devices %}
                        {% for device in cisco_devices %}
                        <option value="{{ device.name }}" {% if cisco_devices|length==1 %}selected{% endif %}>
                            {{ device.name }} ({{ device.device_info.ip }})
                        </option>
                        {% endfor %}
                        {% else %}
                        <option disabled>No devices available</option>
                        {% endif %}
                    </select>
                    <br><br><br>
                    <div class="columns">
                        <div class="left-column">
                            <h2 style="color: #2e4ead;">Device Configuration</h2>
                            <div class="menu">
                                <!-- Device Information -->
                                <div class="menu-item">
                                    <button type="button" class="menu-button">
                                        <i class="fas fa-chevron-right arrow"></i>
                                        Device Information
                                    </button>
                                    <div class="submenu">
                                        <label><input type="checkbox" name="selected_commands" value="show_version">
                                            Show Version</label>
                                        <label><input type="checkbox" name="selected_commands" value="show_clock"> Show
                                            Clock</label>
                                        <label><input type="checkbox" name="selected_commands" value="show_startup">
                                            Show Startup-configuration</label>
                                    </div>
                                </div>

                                <!-- Network Configuration -->
                                <div class="menu-item">
                                    <button type="button" class="menu-button">
                                        <i class="fas fa-chevron-right arrow"></i>
                                        Network Configuration
                                    </button>
                                    <div class="submenu">
                                        <label><input type="checkbox" name="selected_commands"
                                                value="show_running_config"> Show Running Config</label>
                                        <label><input type="checkbox" name="selected_commands"
                                                value="show_ip_interface_brief"> Show IP Interface Brief</label>
                                        <label><input type="checkbox" name="selected_commands"
                                                value="show_ipv6_interface_brief"> Show IPv6 Interface Brief</label>
                                        <label><input type="checkbox" name="selected_commands" value="show_vlan"> Show
                                            VLAN</label>
                                        <label><input type="checkbox" name="selected_commands" value="show_interfaces">
                                            Show Interfaces</label>
                                        <label><input type="checkbox" name="selected_commands"
                                                value="show_interfaces_status">
                                            Show Interfaces Status</label>
                                        <label><input type="checkbox" name="selected_commands"
                                                value="show_interfaces_trunk"> Show Interfaces Trunk</label>
                                        <label><input type="checkbox" name="selected_commands"
                                                value="show_mac_address_table"> Show MAC Address Table</label>
                                        <label><input type="checkbox" name="selected_commands" value="show_dhcp_pool">
                                            Show DHCP Pool</label>
                                        <label><input type="checkbox" name="selected_commands" value="show_dhcp_bind">
                                            Show DHCP Binding</label>
                                        <label><input type="checkbox" name="selected_commands" value="show_ntp_status">
                                            Show NTP status</label>
                                    </div>
                                </div>

                                <!-- Routing and Protocols -->
                                <div class="menu-item">
                                    <button type="button" class="menu-button">
                                        <i class="fas fa-chevron-right arrow"></i>
                                        Routing and Protocols
                                    </button>
                                    <div class="submenu">
                                        <label><input type="checkbox" name="selected_commands" value="show_ip_route">
                                            Show IP Route</label>
                                        <label><input type="checkbox" name="selected_commands"
                                                value="show_ip_protocols"> Show IP Protocols</label>
                                        <label><input type="checkbox" name="selected_commands"
                                                value="show_cdp_neighbors"> Show CDP Neighbors</label>
                                        <label><input type="checkbox" name="selected_commands"
                                                value="show_lldp_neighbors"> Show LLDP Neighbors</label>
                                        <label><input type="checkbox" name="selected_commands"
                                                value="show_spanning_tree"> Show Spanning-tree</label>
                                        <label><input type="checkbox" name="selected_commands"
                                                value="show_spanning_tree_sum"> Show Spanning-tree Summary</label>
                                    </div>
                                </div>

                                <!-- Performance & Diagnostics -->
                                <div class="menu-item">
                                    <button type="button" class="menu-button">
                                        <i class="fas fa-chevron-right arrow"></i>
                                        Performance & Diagnostics
                                    </button>
                                    <div class="submenu">
                                        <label><input type="checkbox" name="selected_commands" value="show_logging">
                                            Show Logging</label>
                                        <label><input type="checkbox" name="selected_commands" value="show_flash">
                                            Show Flash</label>
                                        <label><input type="checkbox" name="selected_commands" value="show_etherch_sum">
                                            Show EtherChannel Summary</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-column">
                            <h2 style="color: #2e4ead;">CONFIGURATIONS OUTPUT</h2><br><br>
                            <pre class="blue-pre"
                                style="margin-bottom: 20px; padding: 15px; background-color: #f5f5f5; border-left: 5px solid #2e4ead; text-align: left; margin-left: 0; white-space: pre-wrap; word-wrap: break-word;">
                                {{ config_data | safe }}
                            </pre>
                        </div>
                    </div>
                    <input style="margin-left: 90%;" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
    </div>
</body>

</html>